@font-face {
    font-family: "CascadiaCode";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("/website/fonts/CascadiaCode/CascadiaCode-ExtraLight.ttf") format("truetype");
}
@font-face {
    font-family: "CascadiaCode";
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("/website/fonts/CascadiaCode/CascadiaCode-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
    font-family: "CascadiaCode";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/website/fonts/CascadiaCode/CascadiaCode-Light.ttf") format("truetype");
}
@font-face {
    font-family: "CascadiaCode";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("/website/fonts/CascadiaCode/CascadiaCode-LightItalic.ttf") format("truetype");
}
@font-face {
    font-family: "CascadiaCode";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/website/fonts/CascadiaCode/CascadiaCode-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "CascadiaCode";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/website/fonts/CascadiaCode/CascadiaCode-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "CascadiaCode";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/website/fonts/CascadiaCode/CascadiaCode-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "CascadiaCode";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("/website/fonts/CascadiaCode/CascadiaCode-MediumItalic.ttf") format("truetype");
}
@font-face {
    font-family: "CascadiaCode";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/website/fonts/CascadiaCode/CascadiaCode-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "CascadiaCode";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("/website/fonts/CascadiaCode/CascadiaCode-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
    font-family: "CascadiaCode";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/website/fonts/CascadiaCode/CascadiaCode-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "CascadiaCode";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/website/fonts/CascadiaCode/CascadiaCode-BoldItalic.ttf") format("truetype");
}