@use "./_variables.scss" as *;

body {
    font-family: Inter, sans-serif;
    background-color: $color_bg;
    color: $color_text;
}

section {
    padding-top: 8px;
    padding-block-start: 8px;
    padding-bottom: 8px;
    padding-block-end: 8px;
}

h1 {
    padding-top: 8px;
    padding-block-start: 8px;
    padding-bottom: 8px;
    padding-block-end: 8px;
}

h2 {
    padding-top: 4px;
    padding-block-start: 4px;
    padding-bottom: 4px;
    padding-block-end: 4px;
}

h3 {
    padding-top: 2px;
    padding-block-start: 2px;
    padding-bottom: 2px;
    padding-block-end: 2px;
}

p {
    margin-top: 12px;
    margin-bottom: 12px;
}

a {
    color: $color_accent;
    &:hover,&:focus {
        text-decoration: underline;
    }
    &:active {
        text-decoration: underline;
    }
}
a.internal::after {
    content: " →";
}
a.external::after {
    content: " ↗";
}

li {
    padding-top: 8px;
    padding-bottom: 8px;
}

.social-icons {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 32px;
    height: 32px;
    transition: transform 0.2s;
    &:hover {
        transform: scale(1.2);
        filter: brightness(0) saturate(100%) invert(29%) sepia(90%) saturate(2730%) hue-rotate(117deg) brightness(99%) contrast(104%);
    }
    &:active {
        transform: scale(1.1);
        filter: brightness(0) saturate(100%) invert(29%) sepia(90%) saturate(2730%) hue-rotate(117deg) brightness(99%) contrast(104%);
    }
}

.content {
    margin-top : 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.centered {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    .wrapper {
        width: 100%;
        max-width: $max_width;
    }
}
