@use "./_variables.scss" as *;

body {
    font-family: Inter, sans-serif;
    background-color: $color_bg;
    color: $color_text;
}

section {
    padding-top: 8px;
    padding-block-start: 8px;
    padding-bottom: 8px;
    padding-block-end: 8px;
}

h1 {
    padding-top: 8px;
    padding-block-start: 8px;
    padding-bottom: 8px;
    padding-block-end: 8px;
}

h2 {
    padding-top: 4px;
    padding-block-start: 4px;
    padding-bottom: 4px;
    padding-block-end: 4px;
}

h3 {
    padding-top: 2px;
    padding-block-start: 2px;
    padding-bottom: 2px;
    padding-block-end: 2px;
}

a {
    color: $color_accent;
    &:hover,&:focus {
        color: $color_accent;
        text-decoration: underline;
    }
    &:active {
        color: $color_text;
        background-color: $color_accent;
        text-decoration: underline;
    }
}
a.internal::after {
    content: " →";
}
a.external::after {
    content: " ↗";
}

li {
    margin-top: 4px;
    margin-bottom: 4px;
}

.content {
    margin-top : 50px;
    margin-bottom : 50px;
}

.centered {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    .wrapper {
        width: 100%;
        max-width: $max_width;
    }
}

.container {
    display: flex;
    // align-items: last baseline;
    align-items: center;
    justify-content: left;
    column-gap: 6ch;
    padding-bottom: 8px;
    padding-block-end: 8px;
}