---
import { Image } from "astro:assets";
import portraitImage from "../images/Duchnowski_Portrait.jpg";

import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
    <div class="centered">
        <div class="wrapper">
            <div class="container">
                <h1>Alex Duchnowski</h1>
                <Image
                    src={portraitImage}
                    alt="Portrait of Alex Duchnowski"
                    loading="eager"
                    style="width: 200px; height: auto;"
                />
            </div>
            <p>
                Hi. I'm Alex, and I love solving puzzles. I studied mathematics,
                computer science, and linguistics at Brown University. While at
                Brown, I developed an interest in computational linguistics.
            </p>
            <p>TODO: FINISH THIS SECTION</p>
        </div>
    </div>
</BaseLayout>
