---
import BaseLayout from "../layouts/BaseLayout.astro";
import Headline from "../components/Headline.astro";

const research = Object.values(
    import.meta.glob("/src/research_content/*.md", { eager: true })
);
---

<BaseLayout title="Research">
    <div class="centered">
        <div class="wrapper">
            <h1>Research</h1>
            <p>TODO: Describe research interests/goals</p>
            <ul>
                {
                    research.map((project) => {
                        const { href, title, description, tags } =
                            project.frontmatter;
                        return (
                            <li>
                                <Headline
                                    href={href}
                                    source="external"
                                    title={title}
                                    description={description}
                                    tags={tags}
                                />
                            </li>
                        );
                    })
                }
            </ul>
        </div>
    </div>
</BaseLayout>
