---
import type { MarkdownInstance } from "astro";

import BaseLayout from "../layouts/BaseLayout.astro";
import Headline from "../components/Headline.astro";

interface Frontmatter {
    href: string;
    source?: string;
    title: string;
    description: string;
    tags?: string[];
}

const research = Object.values(
    import.meta.glob<MarkdownInstance<Frontmatter>>(
        "/src/research_content/*.md",
        { eager: true }
    )
);
---

<BaseLayout
    title="Research"
    description="A collection of research papers co-authored by Alex Duchnowski"
>
    <div class="centered">
        <div class="wrapper">
            <h1>Research</h1>
            <p>
                My research has focused on evaluating LLMs and their ability to
                reason about complex problems.
            </p>
            <ul>
                {
                    research.map((project) => {
                        const { href, title, description, tags } =
                            project.frontmatter;
                        return (
                            <li>
                                <Headline
                                    href={href}
                                    source="external"
                                    title={title}
                                    description={description}
                                    tags={tags}
                                />
                            </li>
                        );
                    })
                }
            </ul>
        </div>
    </div>
</BaseLayout>
