---
import LinkedInLogo from "/src/images/icons/linkedin.svg";
import GitHubLogo from "/src/images/icons/github.svg";
import GoogleScholarLogo from "/src/images/icons/googlescholar.svg";
---

<style lang="scss">
    footer {
        padding-top: 16px;
        padding-block-start: 16px;
        padding-bottom: 16px;
        padding-block-end: 16px;
        background-color: $color_bg;
        a {
            font-weight: 600;
            font-size: 1.2rem;
        }
    }

    ul.row {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 6ch;
        padding: 0;
    }
</style>

<footer>
    <div class="centered">
        <div class="social-icons">
            <a
                href="https://www.linkedin.com/in/alex-duchnowski/"
                target="_blank"
                aria-label="LinkedIn"
            >
                <LinkedInLogo class="icon" />
            </a>
            <a
                href="https://github.com/AlexDuchnowski"
                target="_blank"
                aria-label="GitHub"
            >
                <GitHubLogo class="icon" />
            </a>
            <a
                href="https://scholar.google.com/citations?user=F3rFu8oAAAAJ&hl=en"
                target="_blank"
                aria-label="Google Scholar"
            >
                <GoogleScholarLogo class="icon" />
            </a>
        </div>
    </div>
</footer>
