---

---

<style lang="scss">
    header {
        top: 0;
        position: fixed;
        width: 100%;
        border-bottom: 2px solid $color_text;
        padding-top: 4px;
        padding-block-start: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 4px;
        padding-block-end: 4px;
        background-color: $color_bg;
        a {
            text-decoration: none;
            font-weight: 600;
            font-size: 1.2rem;

            &:hover {
                text-decoration: underline;
            }
        }
        .container {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;
        }
    }

    ul.row {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 10vw;
        // gap: 6ch;
        padding: 0;
    }
</style>

<header>
    <div class="centered container">
        <ul class="row">
            <li><a href="/website">Home</a></li>
            <li><a href="/website/research">Research</a></li>
            <li><a href="/website/projects">Projects</a></li>
        </ul>
    </div>
</header>
