---
interface Props {
    href: string;
    title: string;
    description: string;
    tags?: string[];
}

const { href, title, description, tags = [] }: Props = Astro.props;
---

<style lang="scss">
    .tags {
        list-style: none;
        padding-top: 2px;
        display: flex;
        gap: 0.5rem;
    }
    .tag {
        color: $color_dark;
        background-color: $color_light;
        padding: 3px 6px;
        padding-block: 3px;
        padding-inline: 6px;
    }
</style>

<article>
    <h3><a {href}>{title}</a></h3>
    <p>{description}</p>
    {
        tags.length > 0 && (
            <ul class="tags">
                {tags.map((tag) => (
                    <li class="tag">{tag}</li>
                ))}
            </ul>
        )
    }
</article>
