---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Headline from "../../components/Headline.astro";
---

<BaseLayout title="Projects">
    <div class="centered">
        <div class="wrapper">
            <h1>Projects</h1>
            <h2>
                These are a variety of things I've worked on—some for academic
                purposes, and some just for fun.
            </h2>
            <Headline
                href="/projects/rubiks-group"
                source="internal"
                title="Rubiks Group"
                description="TODO"
                tags={["Rubik's cube", "Lean 4"]}
            />
            <Headline
                href="/projects/lockbox"
                source="internal"
                title="Lockbox"
                description="TODO"
                tags={["Puzzle", "Python"]}
            />
        </div>
    </div>
</BaseLayout>
