---
import type { MarkdownInstance } from "astro";

import BaseLayout from "../../layouts/BaseLayout.astro";
import Headline from "../../components/Headline.astro";

interface Frontmatter {
    href: string;
    source?: string;
    title: string;
    description: string;
    tags?: string[];
}

const projects = Object.values(
    import.meta.glob<MarkdownInstance<Frontmatter>>(
        "/src/pages/projects/*.md*",
        { eager: true }
    )
);
---

<BaseLayout title="Projects">
    <div class="centered">
        <div class="wrapper">
            <h1>Projects</h1>
            <p>
                Below is a list of projects I have worked on. Some were
                completed as final projects for courses, and others were just
                for fun.
            </p>
            <ul>
                {
                    projects.map((project) => {
                        const { title, description, tags } =
                            project.frontmatter;
                        return (
                            <li>
                                <Headline
                                    href={
                                        "/website/projects/" +
                                        project?.file
                                            ?.split("\\")
                                            ?.pop()
                                            ?.split("/")
                                            ?.pop()
                                            ?.replace(/\.md$/, "")
                                    }
                                    source="internal"
                                    title={title}
                                    description={description}
                                    tags={tags}
                                />
                            </li>
                        );
                    })
                }
            </ul>
        </div>
    </div>
</BaseLayout>
