---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Headline from "../../components/Headline.astro";

const projects = Object.values(
    import.meta.glob("/src/pages/projects/*.md", { eager: true })
);
---

<BaseLayout title="Projects">
    <div class="centered">
        <div class="wrapper">
            <h1>Projects</h1>
            <ul>
                {
                    projects.map((project) => {
                        const { title, description, tags } =
                            project.frontmatter;
                        return (
                            <li>
                                <Headline
                                    href={
                                        "/projects/" +
                                        project.file
                                            .split("\\")
                                            .pop()
                                            .split("/")
                                            .pop()
                                            .replace(/\.md$/, "")
                                    }
                                    source="internal"
                                    title={title}
                                    description={description}
                                    tags={tags}
                                />
                            </li>
                        );
                    })
                }
            </ul>
        </div>
    </div>
</BaseLayout>
