---
import BaseLayout from "./BaseLayout.astro";

interface Props {
    frontmatter: {
        title: string;
        description: string;
        githubURL?: string;
    };
}

const { title, description, githubURL } = Astro.props.frontmatter;
---

<BaseLayout {title} {description}>
    <div class="centered">
        <div class="wrapper">
            <h1 style="padding-bottom: 0px">{title}</h1>
            {
                githubURL ? (
                    <a href={githubURL} class="external">
                        GitHub
                    </a>
                ) : null
            }
            <slot />
            <h2 style="margin-bottom: 16px">
                <a class="internal" href="/website/projects">Back to Projects</a
                >
            </h2>
        </div>
    </div>
</BaseLayout>
