---
import BaseLayout from "./BaseLayout.astro";

interface Props {
    frontmatter: {
        title: string;
        githubURL?: string;
    };
}

const { title, githubURL } = Astro.props.frontmatter;
---

<BaseLayout {title}>
    <div class="centered">
        <div class="wrapper">
            <h1>{title}</h1>
            {
                githubURL ? (
                    <a href={githubURL} class="external">
                        GitHub
                    </a>
                ) : null
            }
            <slot />
            <h2 style="margin-bottom: 16px">
                <a class="internal" href="/projects">Back to Projects</a>
            </h2>
        </div>
    </div>
</BaseLayout>
